body{
    background-color: white;
}

#sbc{
    font-weight:700;
}

#category{
display: flex;
gap: 10px;
margin-top: 20px;
}

.active_c{
border-bottom: 2px solid red !important;
border-bottom-left-radius: 0%;

}

#c-chicken,
#c-egg{
    width: 200px;
    padding: 5px;    
    border:1px solid rgb(223, 204, 204);
    border-radius: 5px;
    display: inline-block;
    background-color:rgb(245, 242, 242);
 

    
    }


img,.nameP{
    border:none !important;
}
.nameP{
    display: inline-block;
    margin-left: 10px;
    font-weight: 700;
}

@media screen and (max-width:450px) {
    #category{
      
        flex-flow: column;
    }
}